.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.25rem;
  white-space: nowrap;
  background-color: var(--pico-secondary);
  color: var(--pico-secondary-inverse);
}

.badge i {
  margin-right: 0.25rem;
}

.primary {
  background-color: var(--pico-primary);
  color: var(--pico-primary-inverse);
}

.warning {
  background-color: #f39c12;
  color: white;
}

.secondary {
  background-color: var(--pico-secondary);
  color: var(--pico-secondary-inverse);
}

.success {
  background-color: #2ecc71;
  color: white;
}

.contrast {
  background-color: var(--pico-contrast);
  color: var(--pico-contrast-inverse);
}
