/* Article.module.css */
.article {
  padding: 1.5rem;
  border-radius: 8px;
}

.danger {
  background-color: var(--pico-del-background-color);
  border: 1px solid var(--pico-del-color);
}

.warning {
  background-color: rgba(243, 156, 18, 0.1);
  border: 1px solid #f39c12;
}

.info {
  background-color: rgba(52, 152, 219, 0.1);
  border: 1px solid #3498db;
}

.success {
  background-color: rgba(46, 204, 113, 0.1);
  border: 1px solid #2ecc71;
}

.primary {
  background-color: var(--pico-primary-background);
  border: 1px solid var(--pico-primary);
}
