.header {
  position: relative;
}

.themeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: auto;
  height: auto;
  padding: 0.3rem 0.6rem;
}

.icon {
  font-size: 2rem;
  color: var(--pico-primary);
}
